<!DOCTYPE html>
<html leng="en">
    <head>
        <title>
            {% block title %}flak wtf form{% endblock %}
        </title>
    </head>
<body>

    <h2>Flask_WTF Registration Form</h2>

    {% with messages = get_flashed_messages(with_categories = True) %}

    {% if messages %}

        {% for category, mess in messages %}

            <p style="color: green;">{{mess}}</p>

        {% endfor %}

    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
    
</body>
</html>